* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
     background-color: chocolate;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 39rem;
  overflow: hidden;
  background-color: olivedrab;
  margin-left: 20%;
  border-radius: 20px;
  overflow: hidden;
}

img {
  width: 12rem;
  height: 15rem;
  border-radius: 20%;
}
